
/* MAIN SETTINGS */

@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: url(/styles/pattern-background-desktop.svg) no-repeat, #E1E9Ff;
    background-size: contain;
}

main {
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px var(--Desaturated-blue);
}


/* TYPOGRAPHY */ 

h1 {
    font-size: 1.4rem;
    color: var(--Dark-blue);
}
p {
    font-size: 0.76rem;
    text-align: center;
    color: var(--Desaturated-blue);
}


/* IMAGE */ 

#main-image {
    height: 33%;
    border-radius: 20px 20px 0 0;
}


/* TEXT_BOX */

#text-box {
    height: 67%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px 38px 20px 38px;
    background-color: white;
    border-radius: 0 0 20px 20px;
}


/* SUBSCRIPTION_DIV */

#subscription {
    background-color: var(--Very-pale-blue);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    p {
        line-height: 1.7;
    }
    a {
        margin-left: auto;
        font-size: 0.7rem;
        font-weight: 700;
        color: var(--Bright-blue);
    }
}

#subscription > a:hover {
    cursor: pointer;
    color: var(--Desaturated-blue);
}

#music-icon {
    width: 35px;
    margin-right: 15px;
}

.bold {
    color: var(--Dark-blue);
    font-weight: 900;
}


/* BUTTONS SETTINGS */

button {
    width: 100%;
    padding: 12px 0;
    border: none;
}

#payment {
    background-color: var(--Bright-blue);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 0.7rem;
}

#payment:hover {
    background-color: var(--Desaturated-blue);
    cursor: pointer;
}

#cancel {
    background-color: transparent;
    color: hsl(224, 23%, 55%);
    font-weight: bold;
    font-size: 0.7rem;
    font-weight: bold;
}

#cancel:hover {
    color: var(--Dark-blue);
    cursor: pointer;
}


/* FOOTER */

footer {
    font-size: 11px; 
    text-align: center;
    color: hsl(228, 45%, 44%);
    a {
        color: var(--Bright-blue);
    } 
}

footer > a:hover {
    cursor: pointer;
}


/* MEDIA QUERY */

@media only screen and (max-width: 500px) {
    
    html {
        font-size: 17px;
    }

    #text-box {
        padding: 35px 28px 20px 28px;
    }
}